@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&display=swap");
html{
  height: 100%;
}

body{
    padding-top: 20px;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Roboto Slab', serif;
}
.cards{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bienvenue,h3{
  display: flex;
  margin-top: 85px;
  justify-content: center;
  width: 100%;
}
.card1 {
  font-size: 25px;
  width: 300px;
  height: 395px;
  background: white;
  border-radius: 10px;
  transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  text-align:center;
  margin: auto;
  box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1),
              0 0  0 2px rgb(190, 190, 190),
              0.3em 0.3em 1em rgba(0,0,0,0.3);
  top: 55%;
  left: 25%;
 }
 
 .card1 li{
  font-size: 15px;
 }
 .card2 {

  font-size: 25px;
  width: 300px;
  height: 395px;
  background: white;
  border-radius: 10px;
  transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  text-align:center;
  margin: auto;
  box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1),
              0 0  0 2px rgb(190, 190, 190),
              0.3em 0.3em 1em rgba(0,0,0,0.3);
  
  top: 55%;
  right: 25%;
 }
 
 .card2 li{
  font-size: 15px;
  
 }
 
.containerbts{
  margin-left: auto;
  margin-right: auto;
  width: 85em;
  text-align: center;
  justify-content: center;
  margin-top: 125px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  background-color: #fbfbfdcc;
  
}
.navbar h1 {
  font-size: 20px;
  margin: 0;
  padding-left: 40px;
}
h4{
font-size: 35px;
}
.titre{
  font-size: 40px;
}
h2{
  position: absolute;
  top: 100px;
  font-size: 40px;
}
.navbar ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content:center;
  align-items: center;
}
.navbar li {
  margin: 0 10px;
  width: 100px;
}

.navbar a {
  font-size: 15px;
  text-decoration: none;
  color: black;
}

/* Dark mode styles */
.dark-mode{
  background-color:#111;
}
.dark-mode h1, .dark-mode a ,.dark-mode ,.dark-mode .bienvenue,
.dark-mode .navbar,.dark-mode h3,
 .dark-mode .card1,.dark-mode .card2{
  color: #f5f5f7;
  background-color: #111;
}

.dark-mode .navbar{
  background-color: rgba(0, 0, 0, 0.137);
}
.dark-mode .toggle {
  background-color:white;
  color: black;
  transition: .7s;
}

:hover.toggle{
  cursor: pointer;
  opacity: 5;
  transition: .7s;
}

.toggle{
  border-radius: 10px;
  padding: 12px;
  color:#f5f5f7;
  background-color: black;
  border: 1px  grey ;
  appearance: none;
  display: inline-block;
}

img {
  filter: grayscale(20%);
  }
  
.row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    margin-top: 80px;
}

.moi{
    display: flex;
    align-content: flex-end;
    padding: 150px 0 74px;
}

li{
  padding:8px 10px;
  font-size: 20px;
}

